Repository databrary/datavyu, pull requests merged in 2019-07, with the labels that each got.

#261 Use Next Video Controller jog time
  pom.xml
  src/main/java/org/datavyu/views/VideoController.java
Labels: Type : bug

#262 Dispatch and process SDL key events in Datavyu
  pom.xml
  src/main/java/org/datavyu/plugins/StreamViewerDialog.java
  src/main/java/org/datavyu/plugins/ffmpegplayer/FFmpegPlayer.java
  src/main/java/org/datavyu/plugins/ffmpegplayer/FFmpegStreamViewer.java
  src/main/java/org/datavyu/plugins/mpv/MpvStreamViewer.java
  src/main/java/org/datavyu/plugins/nativeosx/AvFoundationViewer.java
Labels: Platform : Win, Player : ffmpeg, Type : enhancement

#269 Add Correct Datavyu version and clean DV folder after uninstall
  src/main/deploy/package/windows/datavyu.iss
Labels: Platform : Win, Type : enhancement

#267 Refactor code name sanitization; simplify
  src/main/resources/Datavyu_API.rb
Labels: Type : enhancement, ruby_api

#283 Bump Datavyu version to 1.5.0
  RELEASE-NOTES.md
  pom.xml
  pre_version.txt
  src/main/deploy/package/macosx/Info.plist
  src/main/deploy/package/windows/datavyu.iss
  src/main/resources/org/datavyu/resources/Datavyu.properties
Labels: Type : enhancement
